@import 'variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .search-container {
        position: relative;

        .icon-search {
            position: absolute;
            top: 50%;
            left: .5rem;
            transform: translateY(-50%);
            font: $font-md;
            color: var(--text-secondary);
        }

        input {
            padding: .25rem .75rem .25rem 2rem;
        }
    }

    .suggestions-container {
        margin-top: 4px;
        padding: .25rem;
        border: $border-base;
        border-radius: 6px;
        height: 100%;
        overflow: auto;

        .suggestions-group {

            &:not(:last-child) {
                border-bottom: $border-base;
            }

            h3 {
                padding: .375rem .5rem;
                font: $font-xs;
                color: var(--text-secondary);
                font-weight: 500;
            }

            ul {
                list-style: none;

                li {
                    padding: .375rem .5rem;
                    font: $font-sm;
                }
            }
        }
    }
}
