button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 6px;
    color: var(--text-primary);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .15s cubic-bezier(.4, 0, .2, 1);

    &:hover {
        background-color: var(--hover-primary);
    }

    &.button-icon {
        padding: 4px;
        border: none;
    }
}
