@import 'variables.scss';

button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    border: $border-base;
    border-radius: 6px;
    color: var(--text-primary);
    font: $font-md;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(.4, 0, .2, 1);

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--hover-primary);
        }
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }

    &.button-icon {
        padding: 8px;
    }

    &.button-border-none {
        border: none;
    }
}
