@import 'variables.scss';

button {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    background-color: var(--button-default-bgColor);
    border: 1px solid var(--button-default-borderColor);
    border-radius: 6px;
    color: var(--button-default-fgColor);
    font: $font-sm;
    font-weight: 500;
    line-height: $line-height-sm;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(.4, 0, .2, 1);

    &:hover {
        background-color: var(--button-default-bgColor-hover);
        border-color: var(--button-default-borderColor-hover);
    }

    &:active {
        background-color: var(--button-default-bgColor-active);
        border-color: var(--button-default-borderColor-active);
    }

    &:disabled {
        background-color: var(--button-default-bgColor-disabled);
        border-color: var(--button-default-borderColor-disabled);
        color: var(--button-default-fgColor-disabled);
        cursor: not-allowed;
    }

    &.button-icon {
        padding: .5rem;

        span {
            display: block;
            min-width: 1.125rem; //equal to line-height
            line-height: inherit;
        }
    }
}

.button-invisible {
    background-color: var(--button-invisible-bgColor);
    border-color: var(--button-invisible-borderColor);
    color: var(--button-invisible-fgColor);

    &:hover {
        background-color: var(--button-invisible-bgColor-hover);
        border-color: var(--button-invisible-borderColor-hover);
    }

    &:active {
        background-color: var(--button-invisible-bgColor-active);
        border-color: var(--button-invisible-borderColor-active);
    }

    &:disabled {
        background-color: var(--button-invisible-bgColor-disabled);
        border-color: var(--button-invisible-borderColor-disabled);
        color: var(--button-invisible-fgColor-disabled);
    }
}

.button-green {
    background-color: var(--button-green-bgColor);
    border-color: var(--button-green-borderColor);
    color: var(--button-green-fgColor);

    &:hover {
        background-color: var(--button-green-bgColor-hover);
        border-color: var(--button-green-borderColor-hover);
    }

    &:active {
        background-color: var(--button-green-bgColor-active);
        border-color: var(--button-green-borderColor-active);
    }

    &:disabled {
        background-color: var(--button-green-bgColor-disabled);
        border-color: var(--button-green-borderColor-disabled);
        color: var(--button-green-fgColor-disabled);
    }
}
