@import 'variables';

.chip {
    display: flex;
    padding: 0 12px;
    width: fit-content;
    border-radius: 4px;
    font: $font-sm;
    white-space: nowrap;
    background-color: var(--background-secondary);
    color: var(--text-primary)
}
