@import 'variables';

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: .5rem .75rem;
    background-color: var(--control-bgColor);
    border: 1px solid var(--control-borderColor);
    border-radius: 6px;
    color: var(--control-fgColor);
    font: $font-sm;
    line-height: $line-height-sm;

    &:disabled {
        opacity: .65;
        cursor: not-allowed;
        pointer-events: none;
    }

    &::placeholder {
        color: var(--control-fgColor-placeholder);
    }
}

.input-with-icon {
    position: relative;

    input {
        padding-left: 2rem;
    }

    [class^="icon-"] {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        font: $font-md;
        color: var(--control-fgColor);
    }
}

.input-large {
    input {
        padding: .75rem 1.5rem .75rem 3rem;
        font: $font-lg;
    }

    [class^="icon-"] {
        left: 1rem;
        font: $font-lg;
    }
}

/* Remove arrows Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
