@import 'variables';

input {
    width: 100%;
    padding: .5rem .75rem;
    border: $border-base;
    border-radius: 6px;
    background-color: transparent;
    color: var(--text-primary);
    font: $font-sm;
    line-height: $line-height-sm;
    box-shadow: $shadow-base;
}
