@import 'variables';

.pill {
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    font: $font-sm;
    white-space: nowrap;

    &.pill-red {
        background-color: var(--bgColor-red-muted);
        color: var(--fgColor-red-muted);
    }

    &.pill-blue {
        background-color: var(--bgColor-blue-muted);
        color: var(--fgColor-blue-muted);
    }

    &.pill-green {
        background-color: var(--bgColor-green-muted);
        color: var(--fgColor-green-muted);
    }
}
