<bsa-dropdown>
    @for (suggestionsGroup of suggestions; track suggestionsGroup.category; let last = $last) {
        <bsa-dropdown-group [title]="suggestionsGroup.category">
            @for (suggestion of suggestionsGroup.suggestions; track suggestion) {
                <bsa-dropdown-item [item]="{key: suggestion, value: suggestion}"
                                   (selectItem)="onSelectItem($event)">
                </bsa-dropdown-item>
            }
        </bsa-dropdown-group>
        @if (!last) {
            <bsa-dropdown-separator></bsa-dropdown-separator>
        }
    }
</bsa-dropdown>
