<bsa-dropdown>
    @for (suggestionsGroup of suggestions; track suggestionsGroup.category; let last = $last) {
        <bsa-dropdown-group title="{{('offer.' + suggestionsGroup.category) | translate}}">
            @for (suggestion of suggestionsGroup.results; track suggestion) {
                <bsa-dropdown-option [value]="suggestion"
                                     (selectOption)="onSelectOption($event)">
                    {{ suggestion }}
                </bsa-dropdown-option>
            }
        </bsa-dropdown-group>
        @if (!last) {
            <bsa-dropdown-separator></bsa-dropdown-separator>
        }
    }
</bsa-dropdown>
