<input
    type="text"
    #searchCompact
    cdkOverlayOrigin
    [formField]="searchPhrase"
    [placeholder]="'offer.searchPlaceholder' | translate"
    (click)="onInputClick()"
    (keydown)="onInputClick($event)"
>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="searchCompact"
    [cdkConnectedOverlayOpen]="drawerOpen()"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayDisposeOnNavigation]="true"
    (overlayOutsideClick)="closeDrawer()"
    (attach)="focusCombobox()"
    (detach)="closeDrawer()">
            <bsl-drawer
                [title]="'Search'"
                (closed)="closeDrawer()">
                <div class="drawer-wrapper">
                    <bsa-offers-overview-search-form
                        (confirmSelection)="onConfirmSelection()">
                    </bsa-offers-overview-search-form>
                    <button (click)="onConfirmSelection()">
                        {{ 'global.search' | translate }}
                    </button>
                </div>
            </bsl-drawer>
</ng-template>
