nav {
    height: 48px;
    border-bottom: 1px solid var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        margin-left: 20px;
    }

    .icons-container {
        margin-right: 20px;

        .theme-switch {
            width: 36px;
            height: 36px;
            border: none;
            border-radius: 50%;
            background: transparent url("/assets/theme-icon-light.svg") no-repeat center center / 28px 28px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-primary);
            }

            &.dark-theme {
                background-image: url("/assets/theme-icon-dark.svg");
            }
        }
    }
}
