<nav>
    <div class="logo">
        <img src="../../../../assets/logo.svg" alt="logo">
    </div>

    <div class="icons-container">
        <button
            id="switch-theme-button"
            class="button-icon button-border-none"
            [ngClass]="darkTheme ? 'icon-moon' : 'icon-sun'"
            (click)="onSwitchTheme()">
        </button>
        <button cdkOverlayOrigin
                #languageButton
                id="change-language-button"
                class="button-icon button-border-none icon-language"
                (click)="languageDropdownOpen = !languageDropdownOpen">
        </button>
    </div>
</nav>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="languageButton"
    [cdkConnectedOverlayOpen]="languageDropdownOpen"
    cdkConnectedOverlayWidth="8rem"
    (overlayOutsideClick)="$event.stopPropagation(); languageDropdownOpen = false"
    (detach)="languageDropdownOpen = false">
    <bsa-dropdown-container
        [options]="languageOptions"
        (selectOption)="onSelectOption($event)">
    </bsa-dropdown-container>
</ng-template>
