nav {
    height: 48px;
    border-bottom: 1px solid hsl(0 ,0% , 90%);
    display: flex;
    align-items: center;

    .logo {
        margin-left: 20px;
    }

    .theme-switch {
        background-color: transparent;
        border: none;
        background-image: url("/assets/theme-icon-light.svg");
        width: 32px;
        height: 32px;
        cursor: pointer;

        &.dark-theme {
            background-image: url("/assets/theme-icon-dark.svg");
        }
    }
}
