<nav>
    <div class="logo">
        <img src="assets/logo.svg" alt="logo">
    </div>

    <div class="icons">
        <button class="button-icon button-border-none"
                (click)="onSwitchTheme()">
            <bsa-icon [name]="darkTheme ? 'moon' : 'sun'"
                      size="2rem">
            </bsa-icon>
        </button>
        <bsa-select-button icon="language"
                           [options]="languageOptions"
                           optionLabel="label"
                           [ngModel]="language"
                           (ngModelChange)="onSelectLanguage($event)">
        </bsa-select-button>
    </div>
</nav>
