:host {
    display: block;
    padding: 8px 24px;
    border: 1px solid var(--bsa-borderColor-primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-right: -16px;
    padding: 8px;
}

.skeletons {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
