@import 'variables';

:host {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    font: $font-sm;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-primary);
    border-radius: 4px;

    &:focus-visible {
        border-color: transparent;
        box-shadow: 0 0 0 2px var(--blue-primary);
    }

    &.selected {
        border-color: var(--green-primary);
        background-color: var(--green-primary);
        color: var(--text-tertiary);
    }

    &.disabled {
        background-color: var(--gray-primary);
        border-color: var(--gray-secondary)
    }
}
