@import 'variables';

:host {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    font: $font-sm;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--control-bgColor);
    border: 1px solid var(--control-borderColor);
    border-radius: 4px;
    color: var(--control-fgColor);

    &:focus-visible {
        background-color: var(--control-bgColor-focus);
        border-color: transparent;
        box-shadow: 0 0 0 2px var(--outlineColor);
    }

    &.checked {
        background-color: var(--control-checked-bgColor);
        border-color: var(--control-checked-borderColor);
        color: var(--control-checked-fgColor);
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        border-color: var(--control-borderColor-disabled);
        color: var(--control-fgColor-disabled);
    }

    &.checked.disabled {
        background-color: var(--control-checked-bgColor-disabled);
        border-color: var(--control-checked-borderColor-disabled);
        color: var(--control-checked-fgColor-disabled);
    }
}
