.drawer-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    button {
        margin-top: auto;
    }

    bsa-offer-search-suggestions {
        margin-bottom: 20px;
    }
}
