:root {
    --bsa-font-xs: 0.75rem/1rem Figtree;
    --bsa-font-sm: 0.875rem/1.25rem Figtree;
    --bsa-font-md: 1rem/1.5rem Figtree;
    --bsa-font-lg: 1.125rem/1.75rem Figtree;
    --bsa-font-xl: 1.25rem/1.75rem Figtree;
    --bsa-font-2xl: 1.5rem/2rem Figtree;
    --bsa-font-3xl: 1.75rem/2rem Figtree;
    --bsa-font-4xl: 1.875rem/2.25rem Figtree;
    --bsa-font-5xl: 2.25rem/2.5rem Figtree;

    --bsa-line-height-xs: 1rem;
    --bsa-line-height-sm: 1.25rem;
    --bsa-line-height-md: 1.5rem;
    --bsa-line-height-lg: 1.75rem;
    --bsa-line-height-xl: 1.75rem;
    --bsa-line-height-2xl: 2rem;
    --bsa-line-height-3xl: 2rem;
    --bsa-line-height-4xl: 2.25rem;
    --bsa-line-height-5xl: 2.5rem;
}
