body {
    --bsl-range-thumb-backgroundColor: var(--bsa-color-violet-600);
    --bsl-range-tracker-backgroundColor: var(--bsa-color-violet-400);

    &.dark-theme {
        --bsl-range-thumb-backgroundColor: var(--bsa-color-violet-600);
        --bsl-range-tracker-backgroundColor: var(--bsa-color-violet-800);
    }
}
