:root {
    --bsa-color-violet-50: oklch(96.9% .016 293.756);
    --bsa-color-violet-100: oklch(94.3% .029 294.588);
    --bsa-color-violet-200: oklch(89.4% .057 293.283);
    --bsa-color-violet-300: oklch(81.1% .111 293.571);
    --bsa-color-violet-400: oklch(70.2% .183 293.541);
    --bsa-color-violet-500: oklch(60.6% .25 292.717);
    --bsa-color-violet-600: oklch(54.1% .281 293.009);
    --bsa-color-violet-700: oklch(49.1% .27 292.581);
    --bsa-color-violet-800: oklch(43.2% .232 292.759);
    --bsa-color-violet-900: oklch(38% .189 293.745);
    --bsa-color-violet-950: oklch(28.3% .141 291.089);

    --bsa-color-red-50: oklch(97.1% .013 17.38);
    --bsa-color-red-100: oklch(93.6% .032 17.717);
    --bsa-color-red-200: oklch(88.5% .062 18.334);
    --bsa-color-red-300: oklch(80.8% .114 19.571);
    --bsa-color-red-400: oklch(70.4% .191 22.216);
    --bsa-color-red-500: oklch(63.7% .237 25.331);
    --bsa-color-red-600: oklch(57.7% .245 27.325);
    --bsa-color-red-700: oklch(50.5% .213 27.518);
    --bsa-color-red-800: oklch(44.4% .177 26.899);
    --bsa-color-red-900: oklch(39.6% .141 25.723);
    --bsa-color-red-950: oklch(25.8% .092 26.042);

    --bsa-color-gray-1: hsl(60, 20%, 99%);
    --bsa-color-gray-2: hsl(60, 8%, 97%);
    --bsa-color-gray-3: hsl(30, 7%, 94%);
    --bsa-color-gray-4: hsl(40, 6%, 91%);
    --bsa-color-gray-5: hsl(45, 6%, 88%);
    --bsa-color-gray-6: hsl(45, 5%, 85%);
    --bsa-color-gray-7: hsl(48, 5%, 80%);
    --bsa-color-gray-8: hsl(51, 5%, 72%);
    --bsa-color-gray-9: hsl(60, 3%, 54%);
    --bsa-color-gray-10: hsl(60, 2%, 50%);
    --bsa-color-gray-11: hsl(60, 3%, 38%);
    --bsa-color-gray-12: hsl(48, 8%, 12%);

    --bsa-color-gray-a-1: hsla(60, 100%, 17%, 0.01);
    --bsa-color-gray-a-2: hsla(60, 100%, 7%, 0.03);
    --bsa-color-gray-a-3: hsla(30, 100%, 6%, 0.06);
    --bsa-color-gray-a-4: hsla(41, 100%, 6%, 0.1);
    --bsa-color-gray-a-5: hsla(46, 100%, 6%, 0.13);
    --bsa-color-gray-a-6: hsla(46, 100%, 5%, 0.16);
    --bsa-color-gray-a-7: hsla(48, 100%, 5%, 0.21);
    --bsa-color-gray-a-8: hsla(50, 92%, 5%, 0.29);
    --bsa-color-gray-a-9: hsla(60, 100%, 3%, 0.47);
    --bsa-color-gray-a-10: hsla(60, 100%, 2%, 0.51);
    --bsa-color-gray-a-11: hsla(60, 100%, 2%, 0.63);
    --bsa-color-gray-a-12: hsla(50, 100%, 1%, 0.89);

    --bsa-color-gray-dark-1: hsl(60, 3%, 6%);
    --bsa-color-gray-dark-2: hsl(60, 2%, 10%);
    --bsa-color-gray-dark-3: hsl(60, 1%, 13%);
    --bsa-color-gray-dark-4: hsl(60, 2%, 16%);
    --bsa-color-gray-dark-5: hsl(60, 3%, 19%);
    --bsa-color-gray-dark-6: hsl(45, 4%, 22%);
    --bsa-color-gray-dark-7: hsl(48, 4%, 28%);
    --bsa-color-gray-dark-8: hsl(43, 4%, 37%);
    --bsa-color-gray-dark-9: hsl(47, 4%, 42%);
    --bsa-color-gray-dark-10: hsl(53, 3%, 47%);
    --bsa-color-gray-dark-11: hsl(45, 5%, 69%);
    --bsa-color-gray-dark-12: hsl(60, 6%, 93%);

    --bsa-color-gray-a-dark-1: hsla(0, 0%, 0%, 0);
    --bsa-color-gray-a-dark-2: hsla(60, 4%, 95%, 0.04);
    --bsa-color-gray-a-dark-3: hsla(60, 5%, 96%, 0.07);
    --bsa-color-gray-a-dark-4: hsla(60, 85%, 97%, 0.11);
    --bsa-color-gray-a-dark-5: hsla(60, 67%, 95%, 0.14);
    --bsa-color-gray-a-dark-6: hsla(43, 100%, 96%, 0.18);
    --bsa-color-gray-a-dark-7: hsla(47, 100%, 96%, 0.24);
    --bsa-color-gray-a-dark-8: hsla(42, 100%, 96%, 0.34);
    --bsa-color-gray-a-dark-9: hsla(46, 100%, 96%, 0.4);
    --bsa-color-gray-a-dark-10: hsla(53, 100%, 97%, 0.45);
    --bsa-color-gray-a-dark-11: hsla(44, 100%, 98%, 0.69);
    --bsa-color-gray-a-dark-12: hsla(60, 100%, 100%, 0.93);

    --bsa-color-yellow-1: hsl(60, 50%, 98%);
    --bsa-color-yellow-2: hsl(54, 91%, 95%);
    --bsa-color-yellow-3: hsl(56, 100%, 86%);
    --bsa-color-yellow-4: hsl(53, 100%, 79%);
    --bsa-color-yellow-5: hsl(50, 100%, 72%);
    --bsa-color-yellow-6: hsl(48, 85%, 68%);
    --bsa-color-yellow-7: hsl(46, 70%, 65%);
    --bsa-color-yellow-8: hsl(45, 65%, 53%);
    --bsa-color-yellow-9: hsl(53, 100%, 58%);
    --bsa-color-yellow-10: hsl(52, 100%, 50%);
    --bsa-color-yellow-11: hsl(41, 100%, 31%);
    --bsa-color-yellow-12: hsl(42, 39%, 20%);

    --bsa-color-yellow-a-1: hsla(60, 100%, 33%, 0.02);
    --bsa-color-yellow-a-2: hsla(54, 100%, 48%, 0.09);
    --bsa-color-yellow-a-3: hsla(56, 100%, 50%, 0.28);
    --bsa-color-yellow-a-4: hsla(53, 100%, 50%, 0.42);
    --bsa-color-yellow-a-5: hsla(50, 100%, 50%, 0.56);
    --bsa-color-yellow-a-6: hsla(48, 100%, 46%, 0.59);
    --bsa-color-yellow-a-7: hsla(46, 100%, 41%, 0.6);
    --bsa-color-yellow-a-8: hsla(45, 100%, 39%, 0.78);
    --bsa-color-yellow-a-9: hsla(53, 100%, 50%, 0.84);
    --bsa-color-yellow-a-10: hsl(52, 100%, 50%);
    --bsa-color-yellow-a-11: hsl(41, 100%, 31%);
    --bsa-color-yellow-a-12: hsla(42, 100%, 9%, 0.88);

    --bsa-color-yellow-dark-1: hsl(47, 29%, 6%);
    --bsa-color-yellow-dark-2: hsl(45, 29%, 8%);
    --bsa-color-yellow-dark-3: hsl(45, 80%, 10%);
    --bsa-color-yellow-dark-4: hsl(48, 100%, 11%);
    --bsa-color-yellow-dark-5: hsl(47, 100%, 13%);
    --bsa-color-yellow-dark-6: hsl(48, 95%, 16%);
    --bsa-color-yellow-dark-7: hsl(46, 63%, 25%);
    --bsa-color-yellow-dark-8: hsl(45, 60%, 32%);
    --bsa-color-yellow-dark-9: hsl(53, 100%, 58%);
    --bsa-color-yellow-dark-10: hsl(60, 100%, 67%);
    --bsa-color-yellow-dark-11: hsl(53, 90%, 62%);
    --bsa-color-yellow-dark-12: hsl(53, 79%, 84%);

    --bsa-color-yellow-a-dark-1: hsla(23, 100%, 41%, 0.02);
    --bsa-color-yellow-a-dark-2: hsla(43, 100%, 49%, 0.04);
    --bsa-color-yellow-a-dark-3: hsla(40, 100%, 50%, 0.12);
    --bsa-color-yellow-a-dark-4: hsla(43, 100%, 50%, 0.16);
    --bsa-color-yellow-a-dark-5: hsla(44, 100%, 50%, 0.21);
    --bsa-color-yellow-a-dark-6: hsla(46, 100%, 50%, 0.27);
    --bsa-color-yellow-a-dark-7: hsla(46, 98%, 56%, 0.36);
    --bsa-color-yellow-a-dark-8: hsla(45, 98%, 59%, 0.48);
    --bsa-color-yellow-a-dark-9: hsl(53, 100%, 58%);
    --bsa-color-yellow-a-dark-10: hsl(60, 100%, 67%);
    --bsa-color-yellow-a-dark-11: hsla(53, 99%, 64%, 0.96);
    --bsa-color-yellow-a-dark-12: hsla(53, 97%, 86%, 0.96);

    --bsa-color-red-1: hsl(0, 100%, 99%);
    --bsa-color-red-2: hsl(0, 100%, 98%);
    --bsa-color-red-3: hsl(357, 90%, 96%);
    --bsa-color-red-4: hsl(358, 100%, 93%);
    --bsa-color-red-5: hsl(359, 100%, 90%);
    --bsa-color-red-6: hsl(359, 94%, 87%);
    --bsa-color-red-7: hsl(359, 77%, 81%);
    --bsa-color-red-8: hsl(359, 70%, 74%);
    --bsa-color-red-9: hsl(358, 75%, 59%);
    --bsa-color-red-10: hsl(358, 69%, 55%);
    --bsa-color-red-11: hsl(358, 65%, 49%);
    --bsa-color-red-12: hsl(351, 63%, 24%);

    --bsa-color-red-dark-1: hsl(0, 19%, 8%);
    --bsa-color-red-dark-2: hsl(355, 25%, 10%);
    --bsa-color-red-dark-3: hsl(350, 53%, 15%);
    --bsa-color-red-dark-4: hsl(348, 68%, 19%);
    --bsa-color-red-dark-5: hsl(350, 63%, 23%);
    --bsa-color-red-dark-6: hsl(352, 53%, 29%);
    --bsa-color-red-dark-7: hsl(355, 47%, 37%);
    --bsa-color-red-dark-8: hsl(358, 45%, 49%);
    --bsa-color-red-dark-9: hsl(358, 75%, 59%);
    --bsa-color-red-dark-10: hsl(360, 79%, 65%);
    --bsa-color-red-dark-11: hsl(2, 100%, 79%);
    --bsa-color-red-dark-12: hsl(350, 100%, 91%);
}
