:root {
    --bsa-color-violet-50: oklch(96.9% .016 293.756);
    --bsa-color-violet-100: oklch(94.3% .029 294.588);
    --bsa-color-violet-200: oklch(89.4% .057 293.283);
    --bsa-color-violet-300: oklch(81.1% .111 293.571);
    --bsa-color-violet-400: oklch(70.2% .183 293.541);
    --bsa-color-violet-500: oklch(60.6% .25 292.717);
    --bsa-color-violet-600: oklch(54.1% .281 293.009);
    --bsa-color-violet-700: oklch(49.1% .27 292.581);
    --bsa-color-violet-800: oklch(43.2% .232 292.759);
    --bsa-color-violet-900: oklch(38% .189 293.745);
    --bsa-color-violet-950: oklch(28.3% .141 291.089);

    --bsa-color-red-50: oklch(97.1% .013 17.38);
    --bsa-color-red-100: oklch(93.6% .032 17.717);
    --bsa-color-red-200: oklch(88.5% .062 18.334);
    --bsa-color-red-300: oklch(80.8% .114 19.571);
    --bsa-color-red-400: oklch(70.4% .191 22.216);
    --bsa-color-red-500: oklch(63.7% .237 25.331);
    --bsa-color-red-600: oklch(57.7% .245 27.325);
    --bsa-color-red-700: oklch(50.5% .213 27.518);
    --bsa-color-red-800: oklch(44.4% .177 26.899);
    --bsa-color-red-900: oklch(39.6% .141 25.723);
    --bsa-color-red-950: oklch(25.8% .092 26.042);
}
