@use 'ngx-bsl/styles/index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Barlow, sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--bsl-backgroundColor);
    color: var(--bsl-textColor);
}

body {
    @include index.light-theme;

    &.dark-theme {
        @include index.dark-theme;
    }
}

*:focus-visible {
    outline: 2px solid var(--bsa-outline-color);
}

bsa-root {
    isolation: isolate;
}

h1 {
    font: var(--bsl-font-xl);
    font-weight: 700;
}

h2 {
    font: var(--bsl-font-lg);
    font-weight: 700;
}

h3 {
    font: var(--bsl-font-md);
    font-weight: 700;
}
