@import 'variables';
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Barlow, sans-serif;
}

html, body {
    height: 100%;
    color: var(--fgColor-primary);
}

body {
    background-color: var(--bgColor-primary);

    &.transition-disabled {
        * {
            transition: none !important;
        }
    }
}

*:focus-visible {
    outline: 2px solid var(--outlineColor);
}

bsa-root {
    isolation: isolate;
}

h2 {
    font: $font-lg;
    font-weight: 700;
}

h3 {
    font: $font-md;
    font-weight: 700;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
