* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Space Grotesk, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100dvh;
    color-scheme: light dark;
    background-color: var(--bsa-body-backgroundColor);
    color: var(--bsa-textColor-primary);
}

*:focus-visible {
    outline: 2px solid var(--bsa-outline-color);
}

bsa-root {
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    isolation: isolate;
}

h1 {
    font: var(--bsa-font-xl);
    font-weight: 700;
}

h2 {
    font: var(--bsa-font-lg);
    font-weight: 700;
}

h3 {
    font: var(--bsa-font-md);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--bsa-textColor-primary);
}
