body {
    --bsa-body-backgroundColor: var(--bsa-color-gray-1);
    --bsa-backgroundColor-primary: var(--bsa-color-gray-2);
    --bsa-backgroundColor-secondary: var(--bsa-color-gray-3);
    --bsa-borderColor-primary: var(--bsa-color-gray-6);
    --bsa-borderColor-secondary: var(--bsa-color-gray-7);
    --bsa-borderColor-highlight: var(--bsa-color-yellow-8);
    --bsa-textColor-primary: var(--bsa-color-gray-12);
    --bsa-textColor-secondary: var(--bsa-color-gray-11);
    --bsa-textColor-tertiary: var(--bsa-color-gray-1);
    --bsa-textColor-highlight: var(--bsa-color-yellow-10);

    --bsa-outline-color: var(--bsa-color-yellow-8);
    --bsa-gradient-primary: linear-gradient(90deg, var(--bsa-color-yellow-5) 0%, var(--bsa-color-yellow-10) 100%);
    --bsa-boxShadowColor-primary: var(--bsa-color-gray-7);
    --bsa-box-shadow-primary: 0 0 6px var(--bsa-boxShadowColor-primary);

    --bsa-neutral-backgroundColor: var(--bsa-color-gray-3);
    --bsa-neutral-backgroundColor-hover: var(--bsa-color-gray-4);
    --bsa-neutral-textColor: var(--bsa-color-gray-11);

    --bsa-accent-backgroundColor: var(--bsa-color-yellow-9);
    --bsa-accent-backgroundColor-hover: var(--bsa-color-yellow-10);
    --bsa-accent-textColor-primary: var(--bsa-color-gray-12);
    --bsa-accent-textColor-secondary: var(--bsa-color-yellow-10);

    --bsa-danger-backgroundColor: var(--bsa-color-red-9);
    --bsa-danger-backgroundColor-hover: var(--bsa-color-red-10);
    --bsa-danger-textColor-primary: var(--bsa-color-red-1);
    --bsa-danger-textColor-secondary: var(--bsa-color-red-11);

    &.dark-theme {
        --bsa-body-backgroundColor: var(--bsa-color-gray-dark-1);
        --bsa-backgroundColor-primary: var(--bsa-color-gray-dark-2);
        --bsa-backgroundColor-secondary: var(--bsa-color-gray-dark-3);
        --bsa-borderColor-primary: var(--bsa-color-gray-dark-6);
        --bsa-borderColor-secondary: var(--bsa-color-gray-dark-7);
        --bsa-borderColor-highlight: var(--bsa-color-yellow-dark-8);
        --bsa-textColor-primary: var(--bsa-color-gray-dark-12);
        --bsa-textColor-secondary: var(--bsa-color-gray-dark-11);
        --bsa-textColor-tertiary: var(--bsa-color-gray-dark-1);
        --bsa-textColor-highlight: var(--bsa-color-yellow-dark-10);

        --bsa-outline-color: var(--bsa-color-yellow-dark-8);
        --bsa-gradient-primary: linear-gradient(90deg, var(--bsa-color-yellow-dark-12) 0%, var(--bsa-color-yellow-dark-10) 100%);
        --bsa-boxShadowColor-primary: var(--bsa-color-gray-dark-7);
        --bsa-box-shadow-primary: 0 0 3px var(--bsa-boxShadowColor-primary);

        --bsa-neutral-backgroundColor: var(--bsa-color-gray-dark-3);
        --bsa-neutral-backgroundColor-hover: var(--bsa-color-gray-dark-4);
        --bsa-neutral-textColor: var(--bsa-color-gray-dark-11);

        --bsa-accent-backgroundColor: var(--bsa-color-yellow-dark-9);
        --bsa-accent-backgroundColor-hover: var(--bsa-color-yellow-dark-10);
        --bsa-accent-textColor-primary: var(--bsa-color-gray-dark-1);
        --bsa-accent-textColor-secondary: var(--bsa-color-yellow-dark-10);

        --bsa-danger-backgroundColor: var(--bsa-color-red-dark-9);
        --bsa-danger-backgroundColor-hover: var(--bsa-color-red-dark-10);
        --bsa-danger-textColor-primary: var(--bsa-color-red-dark-12);
        --bsa-danger-textColor-secondary: var(--bsa-color-red-dark-10);
    }
}
