@import 'breakpoints';

:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "sort filters"
        "results results";
    grid-gap: 16px;

    @include sm {
        grid-template-columns: 1fr auto auto;
        grid-template-areas:
            "results sort filters";
    }

    @include md {
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "results sort";
    }
}

bsa-offer-settings-sort {
    grid-area: sort;
}

bsa-offer-settings-filters {
    grid-area: filters;
}

bsa-offer-settings-results {
    grid-area: results;
}
