<button
    class="primary"
    #signIn
    cdkOverlayOrigin
    (click)="openSignIn()">
    {{ 'user.signIn' | translate }}
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="signIn"
    [cdkConnectedOverlayOpen]="signInOpen()"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayDisposeOnNavigation]="true"
    [cdkConnectedOverlayPositions]="[
        {
            originX: 'end',
            originY: 'bottom',
            overlayX: 'end',
            overlayY: 'top',
        },
        {
            originX: 'center',
            originY: 'bottom',
            overlayX: 'center',
            overlayY: 'top',
        }
    ]"
    (overlayOutsideClick)="closeSignIn()"
    (detach)="closeSignIn()">
    <div class="container" role="dialog" cdkTrapFocus cdkTrapFocusAutoCapture="true">
        <div class="title">{{'user.candidates' | translate}}</div>
        <button
            role="link"
            class="primary"
            (click)="navigate('/sign-in')">
            {{'user.signIn' | translate}}
        </button>
        <button
            role="link"
            (click)="navigate('/sign-up')">
            {{'user.signUp' | translate}}
        </button>

    </div>
</ng-template>
