@use 'breakpoints' as breakpoints;
@use 'mixins' as mixins;

:host {
    margin: -24px -16px 0;
    padding: 24px 16px 0;
    width: calc(100% + 32px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 95%, var(--bsa-backgroundColor-highlight-secondary) 100%);

    @include breakpoints.md {
        grid-template-columns: 1fr 3fr;
    }
}

header {
    margin: 24px 0;
    grid-column: 1 / span 2;

    h1 {
        display: block;
        font: 3rem/3.5rem Space Grotesk;
        font-weight: 700;

        .highlight-primary {
            padding: 0 4px;
            color: var(--bsa-textColor-primary);
            background-color: var(--bsa-backgroundColor-highlight-primary);

            @include mixins.dark-theme {
                color: var(--bsa-textColor-tertiary);
            }
        }
    }

    .subtitle {
        max-width: 75%;
        font: var(--bsa-font-lg);
        color: var(--bsa-textColor-secondary);

        @include breakpoints.lg {
            max-width: 50%;
        }
    }
}

aside {
    display: none; // avoiding blinking effect when compactMode is set

    bsa-offers-overview-filters-view-broad {
        box-shadow: var(--bsa-box-shadow-primary);

        @include mixins.dark-theme {
            box-shadow: none;
        }
    }

    @include breakpoints.md {
        display: block;
        grid-column: 1 / 1;
    }
}

main {
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include breakpoints.md {
        grid-column: 2 / 2;
    }
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 1rem;

    bsa-offers-overview-info {
        grid-column: span 2;
        grid-row: 2;
    }

    bsa-offers-overview-filters-view-compact {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    bsa-offers-overview-sort {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
    }


    @include breakpoints.sm {
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr;

        bsa-offers-overview-info {
            grid-column: 1;
            grid-row: 1;
        }

        bsa-offers-overview-filters-view-compact {
            grid-column: 2;
        }

        bsa-offers-overview-sort {
            grid-column: 3;
        }
    }
}

.loader {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .warning {
        font: var(--bsa-font-sm);
    }
}
