<div class="input-with-icon input-large">
    <i class="icon-search"></i>
    <input type="text"
           #searchInput
           bsaResizeObserver
           cdkOverlayOrigin
           [formControl]="form"
           (click)="onInputClick()"
           (elementResize)="onInputResize($event)"
    >
</div>

@if (isDropdownMode) {
    <button>'global.search'</button>
}

<!--TODO implement enter and space click on input-->

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="searchInput"
             [cdkConnectedOverlayOpen]="dropdownOpen"
             (overlayOutsideClick)="onOutsideClick($event)"
             (overlayKeydown)="onOverlayKeydown($event)"
             (detach)="closeDropdown()">
    <bsa-dropdown [style]="{maxHeight: maxDropdownHeight, width: dropdownWidth}"
                  [dropdownItemsReference]="suggestionsRef">
        <bsa-offer-search-suggestions #suggestionsRef
                                      [suggestions]="suggestions"
                                      (suggestionSelected)="onSuggestionSelected($event); closeDropdown()">
        </bsa-offer-search-suggestions>
    </bsa-dropdown>
</ng-template>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="searchInput"
             [cdkConnectedOverlayOpen]="drawerOpen"
             [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
             [cdkConnectedOverlayHasBackdrop]="true"
             cdkConnectedOverlayBackdropClass="cdk-custom-backdrop-background"
             (overlayOutsideClick)="drawerRef.close()"
             (detach)="closeDrawer()">
    <bsa-drawer [title]="'global.offer-search-dropdown'"
                (closeDrawer)="closeDrawer()">
        <div class="search-drawer-container">
            <div class="input-with-icon input-large">
                <i class="icon-search"></i>
                <input type="text"
                       cdkOverlayOrigin
                       [formControl]="form">
            </div>
            <bsa-offer-search-suggestions [suggestions]="suggestions"
                                          (suggestionSelected)="onSuggestionSelected($event)">
            </bsa-offer-search-suggestions>
            <button>'global.search'</button>
        </div>
    </bsa-drawer>
</ng-template>

<div class="xd1"></div>
<div class="xd2"></div>
<div class="xd"></div>
<div class="xd"></div>
