@import 'variables';

:host {
    display: flex;
    gap: 24px;
}

.input-with-icon {
    flex: 1;
}

.input-fixed-width {
    max-width: 600px;
}

button {
    padding-left: 2rem;
    padding-right: 2rem;
    font: $font-lg;
}

.drawer-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .input-with-icon {
        flex: 0;
    }

    button {
        margin-top: auto;
    }
}
