<button type="button"
        #buttonTrigger
        cdkOverlayOrigin
        (click)="open = !open">
    <div class="select-value">{{value}}</div>
    <span class="button-icon icon-arrows-up-down"></span>
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="buttonTrigger"
    [cdkConnectedOverlayOpen]="open"
    [cdkConnectedOverlayWidth]="buttonTrigger.offsetWidth"
    (overlayOutsideClick)="$event.stopPropagation(); open = false"
    (detach)="open = false">
    <bsa-dropdown-container
        [options]="options"
        [numberOfVisibleOptions]="numberOfVisibleOptions"
        (selectOption)="onSelectOption($event)">
    </bsa-dropdown-container>
</ng-template>
