<button type="button"
        #selectButton
        cdkOverlayOrigin
        (click)="open = !open; moveFocusToDropdown()">
    <span>{{ value | selectValueConverter : optionLabel }}</span>
    <bsa-icon name="chevron-down"></bsa-icon>
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="selectButton"
    [cdkConnectedOverlayOpen]="open"
    [cdkConnectedOverlayWidth]="selectButton.offsetWidth"
    (overlayOutsideClick)="$event.stopPropagation(); open = false"
    (detach)="open = false; restoreFocusToButton()">
    <bsa-dropdown>
        @for (option of options; track option) {
            <bsa-dropdown-option [value]="option"
                                 (selectOption)="onSelectOption($event)">
                {{ option | selectValueConverter : optionLabel }}
            </bsa-dropdown-option>
        }
    </bsa-dropdown>
</ng-template>
