@import 'breakpoints';
@import 'mixins';
@import 'variables';

:host {
    display: block;
}

a {
    padding: 16px;
    display: flex;
    border: $border-primary;
    border-radius: 8px;
    color: var(--fgColor-primary);
    cursor: pointer;
    overflow: hidden;

    &:hover {
        background-color: var(--bgColor-primary-hover);
    }
}

section {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: min-content auto;
    grid-template-areas:
        "logo title"
        "details details"
        "tags tags";
    font: $font-md;

    @include md {
        grid-template-areas:
            "logo title"
            "logo details"
            "logo tags";
    }
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    .logo-img {
        background-color: lavender;
        width: 3.5rem;
        height: 3.5rem;
    }
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;
    gap: 8px;

    h2 {
        @include multiline-ellipsis(2, 1.75rem);
    }

}

.details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;

    @include md {
        flex-direction: row;
        gap: 12px;
    }

    .salary {
        font-weight: 500;
        color: var(--fgColor-violet);
    }
}

.tags {
    grid-area: tags;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.locations, .company, .salary {
    display: flex;
    align-items: center;
    gap: 8px;

    @include md {
        gap: 4px;
    }
}

.skeleton-template {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: min-content auto;
    grid-template-areas:
        "skeleton-logo skeleton-title"
        "skeleton-details skeleton-details"
        "skeleton-tags skeleton-tags";

    @include md {
        grid-template-areas:
            "skeleton-logo skeleton-title"
            "skeleton-logo skeleton-details"
            "skeleton-logo skeleton-tags";
    }

    .skeleton-logo {
        grid-area: skeleton-logo;
        display: flex;
        align-items: center;
    }

    .skeleton-title {
        grid-area: skeleton-title;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include md {
            bsa-skeleton {
                margin: 6px 0;
            }

            bsa-skeleton:not(:nth-of-type(1)) {
                display: none;
            }
        }
    }

    .skeleton-details {
        grid-area: skeleton-details;
        display: grid;
        gap: 8px;

        bsa-skeleton {
            margin: 4px 0;
        }

        @include md {
            bsa-skeleton:not(:nth-of-type(1)) {
                display: none;
            }
        }
    }

    .skeleton-tags {
        grid-area: skeleton-tags;

        bsa-skeleton {
            margin: 2px 0;
        }
    }
}
