@use '../add-variables' as *;

@include add-variables((
    bsl-control-loader-backgroundColor: var(--bsl-color-neutral-300),
    bsl-control-loader-borderColor: var(--bsl-color-neutral-900),
));

@include add-variables((
    bsl-control-loader-backgroundColor: var(--bsl-color-neutral-700),
    bsl-control-loader-borderColor: var(--bsl-color-neutral-100),
), 'dark');

.bsl-control-loader {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--bsl-control-loader-backgroundColor);
    border-top-color: var(--bsl-control-loader-borderColor);
    border-radius: 50%;
    animation: bsl-control-loader 0.7s linear infinite;
    pointer-events: none;

    &.vertical-center {
        transform: translateY(-50%);
        animation: bsl-control-loader-vertical-center 0.7s linear infinite;
    }
}

@keyframes bsl-control-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:  rotate(360deg);
    }
}

@keyframes bsl-control-loader-vertical-center {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
