@import 'variables';

$rail-height: .25rem;

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider {
    position: relative;
    height: .75rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.rail {
    height: $rail-height;
    width: 100%;
    border-radius: calc($rail-height / 2);
    background-color: var(--border-primary);
    cursor: pointer;
}

.bar {
    position: absolute;
    height: $rail-height;
    background-color: var(--green-primary);
    pointer-events: none;
}

.limits {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: $font-sm;

}
