<div class="input-with-icon input-large">
    <i class="icon-search"></i>
    <input type="text"
           #searchInput
           cdkOverlayOrigin
           [formControl]="form"
           (blur)="suggestionsOpen = false">
</div>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="searchInput"
             [cdkConnectedOverlayOpen]="suggestionsOpen"
             (overlayOutsideClick)="onOutsideClick($event)"
             (detach)="suggestionsOpen = false"
             (overlayKeydown)="onOverlayKeydown($event)">
    <bsa-dropdown [style]="{maxHeight: maxDropdownHeight, width: searchInput.offsetWidth + 'px'}"
                  [dropdownItemsReference]="suggestionsRef">
        <bsa-offer-search-suggestions #suggestionsRef
                         [suggestions]="suggestions"
                         (suggestionSelected)="onSuggestionSelected($event)">
        </bsa-offer-search-suggestions>
    </bsa-dropdown>
</ng-template>
