<div class="input-with-icon input-large">
    <i class="icon-search"></i>
    <input type="text"
           #searchInput
           cdkOverlayOrigin
           bsaResizeObserver
           [formControl]="form"
           (focus)="onInputFocus()"
           (elementResize)="onInputResize($event)">
</div>

<button>'global.search'</button>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="searchInput"
             [cdkConnectedOverlayOpen]="dropdownOpen"
             (overlayOutsideClick)="onOutsideClick($event)"
             (overlayKeydown)="onOverlayKeydown($event)"
             (detach)="closeDropdown()">
    <bsa-offer-search-suggestions [style]="{maxHeight: maxDropdownHeight, width: dropdownWidth}"
                                  [suggestions]="suggestions"
                                  (selectSuggestion)="onSelectSuggestion($event); closeDropdown()">
    </bsa-offer-search-suggestions>
</ng-template>
