@import 'variables';

:host {
    display: flex;
    gap: 24px;
}

.input-with-icon {
    flex: 1;
    max-width: 600px;
}

button {
    padding-left: 2rem;
    padding-right: 2rem;
    font: $font-lg;
}
