<div [formGroup]="form">
    <section>
        <h3>{{ 'offer.salary' | translate }}</h3>

        <bsa-slider id="filter-salary"
                    formControlName="salary"
                    [min]="0"
                    [max]="50000"
                    [step]="500">
        </bsa-slider>
    </section>

    @if (technologies.length) {
        <section formArrayName="technologies">
            <h3>{{ 'offer.technologies' | translate }}</h3>

            <div class="technologies">
                @for (technology of technologies; track technology.key; let i = $index) {
                    <bsa-toggle id="filter-technology-{{technology.key}}"
                                [formControlName]="i">
                        <bsa-icon name="tech-{{technology.key}}"></bsa-icon>
                        <span>{{ technology.value }}</span>
                    </bsa-toggle>
                }
            </div>
        </section>
    }

    <section formGroupName="workMode">
        <h3>{{ 'offer.workMode' | translate }}</h3>

        <div class="filters-group">
            <bsa-checkbox id="filter-work-mode-on-site"
                          formControlName="onSite">
                <label for="filter-work-mode-on-site">{{ 'offer.onSite' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-work-mode-hybrid"
                          formControlName="hybrid">
                <label for="filter-work-mode-hybrid">{{ 'offer.hybrid' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-work-mode-remote"
                          formControlName="remote">
                <label for="filter-work-mode-remote">{{ 'offer.remote' | translate }}</label>
            </bsa-checkbox>
        </div>
    </section>

    @if (locations.length) {
        <section formArrayName="locations">
            <h3>{{ 'offer.location' | translate }}</h3>

            <div class="filters-group">
                @for (location of locations; track location.value; let i = $index) {
                    <bsa-checkbox id="filter-location-{{i}}"
                                  [formControlName]="i">
                        <label for="filter-location-{{i}}">{{ location.value }}</label>
                    </bsa-checkbox>
                }
            </div>
        </section>
    }

    <section formArrayName="employmentType">
        <h3>{{ 'offer.employmentType' | translate }}</h3>

        <div class="filters-group">
            <bsa-checkbox id="filter-employment-type-employment-contract"
                          formControlName="employmentContract">
                <label
                    for="filter-employment-type-employment-contract">{{ 'offer.employmentContract' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-employment-type-b2b"
                          formControlName="b2b">
                <label for="filter-employment-type-b2b">{{ 'offer.b2b' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-employment-type-mandate-contract"
                          formControlName="mandateContract">
                <label for="filter-employment-type-mandate-contract">{{ 'offer.mandateContract' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-employment-type-specific-task-contract"
                          formControlName="specificTaskContract">
                <label
                    for="filter-employment-type-specific-task-contract">{{ 'offer.specificTaskContract' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-employment-type-internship"
                          formControlName="internship">
                <label for="filter-employment-type-internship">{{ 'offer.internship' | translate }}</label>
            </bsa-checkbox>
        </div>
    </section>

    <section formArrayName="seniority">
        <h3>{{ 'offer.seniority' | translate }}</h3>

        <div class="filters-group">
            <bsa-checkbox id="filter-seniority-intern"
                          formControlName="intern">
                <label for="filter-seniority-intern">{{ 'offer.intern' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-seniority-junior"
                          formControlName="junior">
                <label for="filter-seniority-junior">{{ 'offer.junior' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-seniority-mid"
                          formControlName="mid">
                <label for="filter-seniority-mid">{{ 'offer.mid' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-seniority-senior"
                          formControlName="senior">
                <label for="filter-seniority-senior">{{ 'offer.senior' | translate }}</label>
            </bsa-checkbox>

            <bsa-checkbox id="filter-seniority-expert"
                          formControlName="expert">
                <label for="filter-seniority-expert">{{ 'offer.expert' | translate }}</label>
            </bsa-checkbox>
        </div>
    </section>
</div>
