<div class="template">
    <div class="logo">
        <ngx-bsl-skeleton type="square" size="3.5rem"></ngx-bsl-skeleton>
    </div>
    <div class="title">
        <ngx-bsl-skeleton></ngx-bsl-skeleton>
        <ngx-bsl-skeleton  width="40%"></ngx-bsl-skeleton>
    </div>
    <div class="details">
        <ngx-bsl-skeleton width="40%"></ngx-bsl-skeleton>
        <ngx-bsl-skeleton width="30%"></ngx-bsl-skeleton>
        <ngx-bsl-skeleton width="50%"></ngx-bsl-skeleton>
    </div>
    <div class="tags">
        <ngx-bsl-skeleton width="70%"></ngx-bsl-skeleton>
    </div>
</div>
