@use 'breakpoints' as breakpoints;

.template {
    padding: 16px;
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: min-content auto;
    grid-template-areas:
        "logo title"
        "details details"
        "tags tags";
    border: 1px solid var(--bsl-borderColor);
    border-radius: 8px;

    @include breakpoints.md {
        grid-template-areas:
            "logo title"
            "logo details"
            "logo tags";
    }
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoints.md {
        ngx-bsl-skeleton {
            margin: 6px 0;
        }

        ngx-bsl-skeleton:not(:nth-of-type(1)) {
            display: none;
        }
    }
}

.details {
    grid-area: details;
    display: grid;
    gap: 8px;

    ngx-bsl-skeleton {
        margin: 4px 0;
    }

    @include breakpoints.md {
        ngx-bsl-skeleton:not(:nth-of-type(1)) {
            display: none;
        }
    }
}

.tags {
    grid-area: tags;

    ngx-bsl-skeleton {
        margin: 2px 0;
    }
}
