<div class="template">
    <div class="logo">
        <bsl-skeleton type="square" size="3.5rem"></bsl-skeleton>
    </div>
    <div class="title">
        <bsl-skeleton></bsl-skeleton>
        <bsl-skeleton width="40%"></bsl-skeleton>
    </div>
    <div class="details">
        <bsl-skeleton width="40%"></bsl-skeleton>
        <bsl-skeleton width="30%"></bsl-skeleton>
        <bsl-skeleton width="50%"></bsl-skeleton>
    </div>
    <div class="tags">
        <bsl-skeleton width="70%"></bsl-skeleton>
    </div>
</div>
