@import "breakpoints";

:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    color: var(--text-primary);

    @include md {
        justify-content: flex-end;
    }

    .pages-select, .pages-switch {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
