@import 'variables';

:host {
    width: fit-content;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: .25rem;
    border: $border-base;
    border-radius: 4px;
    font: $font-sm;
    cursor: pointer;
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);

    &:hover:not(:focus-visible) {
        background-color: var(--hover-primary);
    }

    &.checked {
        border-color: var(--green-primary);
        background-color: var(--green-primary);
        color: var(--text-tertiary);

        &:hover {
            background-color: var(--hover-green-primary);
        }
    }
}
