@use 'mixins';

:host {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border: 1px solid var(--bsa-borderColor-primary);
    border-radius: 8px;
    box-shadow: var(--bsa-box-shadow-primary);

    @include mixins.dark-theme {
        box-shadow: none;
    }
}

.offer-deadline-description {
    font: var(--bsa-font-sm);
    color: var(--bsa-textColor-secondary);
}

.offer-deadline-bar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--bsa-backgroundColor-secondary);
    overflow: hidden;
}

.offer-deadline-progress {
    height: 100%;
    border-radius: 4px;
    background: no-repeat var(--bsa-gradient-primary);
}
