:host {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    font: var(--font-sm);
}

.checkbox {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--control-bgColor);
    border: 1px solid var(--control-borderColor);
    border-radius: 4px;
    color: var(--control-fgColor);

    &:focus-visible {
        outline-offset: 2px;
    }

    &:hover {
        border-color: var(--control-borderColor-hover);
    }

    &.checked {
        background-color: var(--control-checked-bgColor);
        border: none;
        color: var(--control-checked-fgColor);
    }

    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        pointer-events: none;
    }
}
