@import './variables';
@import './themes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
}

html, body {
    height: 100%;
    color: var(--text-primary);
}

body {
    @include common-theme;
    @include light-theme;

    &.dark-theme {
        @include dark-theme;
    }
}

body {
    background-color: var(--background-primary);

    &.transition-disabled {
        * {
            transition: none !important;
        }
    }
}

bsa-root {
    isolation: isolate;
}

h2 {
    font: $font-lg;
    font-weight: 700;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
