$background-primary-light: hsl(0, 0%, 100%);
$background-primary-dark: hsl(240, 4%, 12%);

$background-secondary-light: hsl(0, 40%, 98%);
$background-secondary-dark: hsl(240, 8%, 16%);

$border-primary-light: hsl(240, 12%, 86%);
$border-primary-dark: hsl(240, 12%, 24%);

$border-secondary-light:hsl(240, 12%, 80%);
$border-secondary-dark: hsl(240, 12%, 32%);

$hover-primary-light: hsl(0, 0%, 96%);
$hover-primary-dark: hsl(240, 8%, 16%);

$hover-secondary-light: hsl(0, 0%, 96%);
$hover-secondary-dark: hsl(240, 8%, 18%);

$text-primary-light: hsl(240, 8%, 16%);
$text-primary-dark: hsl(0, 0%, 94%);

$text-secondary-light: hsl(240, 8%, 40%);
$text-secondary-dark: hsl(240, 0%, 64%);

$red-dark: hsl(350, 100%, 50%);
$red-light: hsl(350, 100%, 90%);

$blue-dark: hsl(210, 100%, 50%);
$blue-light: hsl(210, 100%, 90%);

$green-dark: hsla(150, 100%, 30%);
$green-light: hsl(150, 100%, 90%);

$orange-dark: hsl(24, 100%, 50%);
$orange-light: hsl(24, 100%, 90%);

$purple-dark: hsl(270, 100%, 50%);
$purple-light: hsl(270, 100%, 90%);

$green-primary-light: hsl(150, 100%, 36%);
$green-primary-dark: hsl(150, 100%, 45%);

@mixin light-theme {
    --background-primary: #{$background-primary-light};
    --background-secondary: #{$background-secondary-light};
    --border-primary: #{$border-primary-light};
    --border-secondary: #{$border-secondary-light};
    --hover-primary: #{$hover-primary-light};
    --hover-secondary: #{$hover-secondary-light};
    --text-primary: #{$text-primary-light};
    --text-secondary: #{$text-secondary-light};
    --green-primary: #{$green-primary-light};
}

@mixin dark-theme {
    --background-primary: #{$background-primary-dark};
    --background-secondary: #{$background-secondary-dark};
    --border-primary: #{$border-primary-dark};
    --border-secondary: #{$border-secondary-dark};
    --hover-primary: #{$hover-primary-dark};
    --hover-secondary: #{$hover-secondary-dark};
    --text-primary: #{$text-primary-dark};
    --text-secondary: #{$text-secondary-dark};
    --green-primary: #{$green-primary-dark};
}

@mixin common-theme {
    --red-dark: #{$red-dark};
    --red-light: #{$red-light};
    --blue-dark: #{$blue-dark};
    --blue-light: #{$blue-light};
    --green-dark: #{$green-dark};
    --green-light: #{$green-light};
    --orange-dark: #{$orange-dark};
    --orange-light: #{$orange-light};
    --purple-dark: #{$purple-dark};
    --purple-light: #{$purple-light};
}
