@import './themes';

$font-xs: 0.75rem/1rem Inter, sans-serif;
$font-sm: 0.875rem/1.25rem Inter, sans-serif;
$font-md: 1rem/1.5rem Inter, sans-serif;
$font-lg: 1.125rem/1.75rem Inter, sans-serif;
$font-xl: 1.25rem/1.75rem Inter, sans-serif;
$font-2xl: 1.5rem/2rem Inter, sans-serif;
$font-3xl: 1.75rem/2rem Inter, sans-serif;
$font-4xl: 1.875rem/2.25rem Inter, sans-serif;
$font-5xl: 2.25rem/2.5rem Inter, sans-serif;

$border-base: 1px solid var(--border-primary);

$shadow-base: 0 1px 2px 0 hsla(0, 0, 0, .05);
