<section>
    <div class="title">
        <bsa-svg-icon name="icon-user" size="1.5rem" />
        {{'user.changePassword' | translate}}
    </div>
    <div class="title-note">
        {{ 'user.changePasswordNote' | translate }}
    </div>

    <form [formRoot]="changePasswordForm">
        <div class="form-control">
            <label for="change-password-old">{{ 'user.currentPassword' | translate }}</label>
            <input id="change-password-old" type="password" [formField]="changePasswordForm.oldPassword">

            <div class="validation-error">
                @if (changePasswordForm.oldPassword().invalid() && changePasswordForm.oldPassword().touched()) {
                    @for (error of changePasswordForm.oldPassword().errors(); track error.kind) {
                        <span>{{ error.message! | translate }} </span>
                    }
                }
            </div>
        </div>

        <div class="form-control">
            <label for="change-password-new">{{ 'user.newPassword' | translate }}</label>
            <input id="change-password-new" type="password" [formField]="changePasswordForm.newPassword">

            <div class="validation-error">
                @if (changePasswordForm.newPassword().invalid() && changePasswordForm.newPassword().touched()) {
                    @for (error of changePasswordForm.newPassword().errors(); track error.kind) {
                        <span>{{ error.message! | translate }} </span>
                    }
                }
            </div>
        </div>

        <button
            type="submit"
            class="primary"
            [disabled]="
        changePasswordForm().invalid()
        || changePasswordForm().pending()
        || changePasswordForm().submitting()"
        >
            {{ 'global.save' | translate }}
        </button>

        @if (showDataSaved()) {
            <span>{{ 'global.dataSaved' | translate }}</span>
        }
    </form>

</section>
