@import 'breakpoints';

:host {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include md {
        flex-direction: row;
    }
}

.panel {
    display: none;

    @include md {
        display: block;
        flex-basis: 25%;
    }
}

.content {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.options-bar {
    display: flex;
}

bsa-offer-settings {
    flex-grow: 1;
}

bsa-pagination {

    @include sm {
        justify-content: end;
    }
}
