@if (!compactMode) {
    <div class="panel">
        <bsa-offer-filters
            [compactMode]="compactMode"
            (filtersChange)="onFiltersChange($event)">
        </bsa-offer-filters>
    </div>
}

<div class="content">
    <bsa-offer-search
        [compactMode]="compactMode"
        (search)="onSearch($event)">
    </bsa-offer-search>
    <div class="options-bar">
        <bsa-offer-settings
            [sort]="sort"
            [offersNumber]="total"
            (sortChange)="onSortChange($event)">
        </bsa-offer-settings>

        @if (compactMode) {
            <bsa-offer-filters
                [compactMode]="compactMode"
                (filtersChange)="onFiltersChange($event)">
            </bsa-offer-filters>
        }
    </div>
    <bsa-offer-list
        [offers$]="offers$"
        [total]="total"
        [loading]="offersLoading">
    </bsa-offer-list>

    @if (!offersLoading && total > 0) {
        <bsa-pagination
            [limit]="pagination.limit"
            [total]="total"
            (pageChange)="onPageChange($event)">
        </bsa-pagination>
    }
</div>
