:host {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    padding: 24px 16px;
    flex: 1;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    padding: 24px 16px;
    display: flex;
    justify-content: center;
}

.loader {
    flex: 1;
    margin-top: -5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .warning {
        font: var(--bsa-font-sm);
    }
}
