@import 'breakpoints';

:host {
    display: grid;
    grid-template-areas: "main";
    grid-gap: 16px;

    @include md {
        grid-template-areas: "aside main";
        grid-template-columns: 1fr 3fr;
    }
}

aside {
    grid-area: aside;
    display: none;

    @include md {
        display: block;
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

bsa-pagination {

    @include sm {
        justify-content: end;
    }
}
