@import 'breakpoints';

:host {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "search"
        "settings"
        "list"
        "pagination";
    grid-gap: 16px;

    @include md {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "filters search"
        "filters settings"
        "filters list"
        "pagination pagination";
    }
}

bsa-offer-filters {
    grid-area: filters;
    display: none;

    @include md {
        display: block;
    }
}

bsa-offer-search {
    grid-area: search;
}

bsa-offer-settings {
    grid-area: settings;
}

bsa-offer-list {
    grid-area: list;
}

bsa-pagination {
    grid-area: pagination;

    @include sm {
        justify-content: end;
    }
}
