@if (!filterButtonsVisible) {
    <bsa-search [searchPhrase]="searchPhrase"
                (searchPhraseSelected)="onSearchPhraseSelected($event)">
    </bsa-search>
} @else {
    <button #searchButtonTrigger
            cdkOverlayOrigin
            type="button"
            class="button-icon icon-search"
            (click)="searchOpen = !searchOpen">
    </button>

    <ng-template cdkConnectedOverlay
                 [cdkConnectedOverlayOrigin]="searchButtonTrigger"
                 [cdkConnectedOverlayOpen]="searchOpen"
                 [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
                 [cdkConnectedOverlayHasBackdrop]="true"
                 cdkConnectedOverlayBackdropClass="cdk-custom-backdrop-background"
                 (overlayOutsideClick)="searchDrawer.close()"
                 (detach)="searchOpen = false">
        <bsa-search-drawer [searchPhrase]="searchPhrase"
                           (searchPhraseSelected)="onSearchPhraseSelected($event)"
                           (closeDrawer)="searchOpen = false">
        </bsa-search-drawer>
    </ng-template>
}

<button type="button"
        class="button-icon icon-gear"
        (click)="technologyOpen = !technologyOpen">
    <span>Technologies</span>
</button>

<button type="button"
        class="button-icon icon-filter"
        (click)="technologyOpen = !technologyOpen">
    <span>Filters</span>
</button>
