@if (!filterButtonsVisible) {
    <bsa-search></bsa-search>
} @else {
    <button #searchButtonTrigger
            cdkOverlayOrigin
            type="button"
            class="button-icon icon-search"
            (click)="searchOpen = !searchOpen">
    </button>

    <button type="button"
            class="button-icon icon-gear"
            (click)="technologyOpen = !technologyOpen">
    </button>

    <button type="button"
            class="button-icon icon-filter"
            (click)="filtersOpen = !filtersOpen">
    </button>

    <ng-template cdkConnectedOverlay
                 [cdkConnectedOverlayOrigin]="searchButtonTrigger"
                 [cdkConnectedOverlayOpen]="searchOpen"
                 [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
                 [cdkConnectedOverlayHasBackdrop]="true"
                 cdkConnectedOverlayBackdropClass="cdk-custom-backdrop-background"
                 (overlayOutsideClick)="searchDrawer.close()"
                 (detach)="searchOpen = false">
        <bsa-drawer #searchDrawer
                    title="general.search"
                    (closeDrawer)="searchOpen = false">
            <div class="search-container">
                <bsa-search></bsa-search>
                <button>'global.find'</button>
            </div>
        </bsa-drawer>
    </ng-template>
}
