@import 'breakpoints';
@import 'variables';

:host {
    margin-bottom: 16px;
    display: flex;
    gap: .5rem;

    button {

        @include md {
            padding: .5rem 1rem;
        }

        span:nth-of-type(2) {
            display: none;

            @include md {
                display: inline;
            }
        }
    }
}
