<section>
    <h3>{{ 'offer.salary' | translate }}</h3>

    <bsl-range
        [minValue]="0"
        [maxValue]="50000"
        [step]="1000"
        [aria-label]="'offer.salary' | translate"
        [showThumbLabels]="true"
        [formField]="salaryFilterForm">
    </bsl-range>
</section>

@if (technologies().length) {
    <section>
        <h3>{{ 'offer.technologies' | translate }}</h3>
        <div class="filters-group filters-technologies">
            @for (technology of technologies(); track technology.id; let i = $index) {
                <bsl-checkbox-button
                    [id]="'filter-technology-' + i"
                    [formField]="dynamicFiltersForm.technologies[i]">
                    <div class="icon-container" [innerHTML]="technology.iconCode"></div>
                    {{ technology.name }}
                </bsl-checkbox-button>
            }
        </div>
    </section>
}

@if (workModes().length) {
    <section>
        <h3>{{ 'offer.workMode' | translate }}</h3>
        <div class="filters-group">
            @for (workMode of workModes(); track workMode.id; let i = $index) {
                <bsl-checkbox
                    [id]="'filter-workMode-' + i"
                    [formField]="dynamicFiltersForm.workModes[i]">
                    {{ workMode.name }}
                </bsl-checkbox>
            }
        </div>
    </section>
}

@if (locations().length) {
    <section>
        <h3>{{ 'offer.locations' | translate }}</h3>

        <div class="filters-group">
            @for (location of locations(); track location.id; let i = $index) {
                <bsl-checkbox
                    [id]="'filter-location-' + i"
                    [formField]="dynamicFiltersForm.locations[i]">
                    {{ location.name }}
                </bsl-checkbox>
            }
        </div>
    </section>
}

@if (experienceLevels().length) {
    <section>
        <h3>{{ 'offer.experienceLevel' | translate }}</h3>

        <div class="filters-group">
            @for (experienceLevel of experienceLevels(); track experienceLevel.id; let i = $index) {
                <bsl-checkbox
                    [id]="'filter-experience-level-' + i"
                    [formField]="dynamicFiltersForm.experienceLevels[i]">
                    {{ experienceLevel.name }}
                </bsl-checkbox>
            }
        </div>
    </section>
}

@if (employmentTypes().length) {
    <section>
        <h3>{{ 'offer.employmentType' | translate }}</h3>

        <div class="filters-group">
            @for (employmentType of employmentTypes(); track employmentType.id; let i = $index) {
                <bsl-checkbox
                    [id]="'filter-employment-type-' + i"
                    [formField]="dynamicFiltersForm.employmentTypes[i]">
                    {{ employmentType.name }}
                </bsl-checkbox>
            }
        </div>
    </section>
}
