@import 'variables';

:host {
    width: 100%;

    .dropdown-container {
        width: 100%;
        padding: 4px;
        border: $border-base;
        border-radius: 6px;
        background-color: var(--background-primary);
        overflow: auto;

        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 6px 8px;
            border-radius: 4px;
            font: $font-md;
            font-weight: 500;
            color: var(--text-primary);
            cursor: pointer;

            &:hover {
                background-color: var(--hover-primary);
            }
        }
    }
}
