button {
    &.primary {
        background-color: var(--bsa-accent-backgroundColor);
        color: var(--bsa-accent-textColor-primary);
        border: none;

        &:not(:disabled):hover {
            background-color: var(--bsa-accent-backgroundColor-hover);
        }

        &:not(:disabled):active {
            filter: brightness(0.92) saturate(1.1);
            background-color: var(--bsa-accent-backgroundColor-hover);
        }

        &.invisible {
            color: var(--bsa-accent-textColor-secondary);
        }
    }

    &.danger {
        background-color: var(--bsa-danger-backgroundColor);
        color: var(--bsa-danger-textColor-primary);
        border: none;

        &:not(:disabled):hover {
            background-color: var(--bsa-danger-backgroundColor-hover);
        }

        &:not(:disabled):active {
            filter: brightness(0.92) saturate(1.1);
            background-color: var(--bsa-danger-backgroundColor-hover);
        }

        &.invisible {
            color: var(--bsa-danger-textColor-secondary);
        }
    }

    &.invisible {
        background-color: transparent;
        border: none;
    }
}
