button {
    &.primary {
        background-color: var(--bsa-accent-backgroundColor);
        color: var(--bsa-accent-textColor-primary);
        border-color: transparent;

        &:hover {
            background-color: var(--bsa-accent-backgroundColor-hover);
        }

        &:active {
            filter: brightness(0.92) saturate(1.1);
        }

        &.invisible {
            color: var(--bsa-accent-textColor-secondary);
        }
    }

    &.danger {
        background-color: var(--bsa-danger-backgroundColor);
        color: var(--bsa-danger-textColor-primary);
        border-color: transparent;

        &:hover {
            background-color: var(--bsa-danger-backgroundColor-hover);
        }

        &:active {
            filter: brightness(0.92) saturate(1.1);
        }

        &.invisible {
            color: var(--bsa-danger-textColor-secondary);
        }
    }

    &.invisible {
        background-color: transparent;
        color: var(--bsa-neutral-textColor);
        border-color: transparent;

        &:hover {
            background-color: var(--bsa-neutral-backgroundColor-hover);
        }

        &:active {
            filter: brightness(0.92) saturate(1.1);
        }
    }
}
