.pill {
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    font: var(--font-sm);
    white-space: nowrap;

    &.pill-red {
        background-color: var(--pill-red-bgColor);
        color: var(--pill-red-fgColor);
    }

    &.pill-blue {
        background-color: var(--pill-blue-bgColor);
        color: var(--pill-blue-fgColor);
    }

    &.pill-green {
        background-color: var(--pill-green-bgColor);
        color: var(--pill-green-fgColor);
    }
}
