<button
    [bslMenuTrigger]="menu"
    [id]="'user-profile'"
    class="invisible"
>
    <bsa-svg-icon name="icon-user" [size]="'1.5rem'" />
    <span class="user-name">{{ user()?.firstName }}</span>
</button>

<bsl-menu #menu>
    @if (isEmployer()) {
        <!--eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
        <span
            bslMenuItem
            (click)="onNavigate('/offers/create')"
            (keydown.enter)="onNavigate('/offers/create')"
        >
        <bsa-svg-icon name="icon-post-document" size="1.25rem"/>
        <span>{{ 'offer.postJob' | translate }}</span>
    </span>
    }
    <!--eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
    <span
        bslMenuItem
        (click)="onNavigate('/candidate/profile')"
        (keydown.enter)="onNavigate('/candidate/profile')"
    >
        <bsa-svg-icon name="icon-user" size="1.25rem"/>
        <span>{{ 'user.myProfile' | translate }}</span>
    </span>
    <!--eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
    <span
        bslMenuItem
        (click)="onLogout()"
        (keydown.enter)="onLogout()"
    >
        <bsa-svg-icon name="icon-exit" size="1.25rem"/>
        <span>{{ 'user.logout' | translate }}</span>
    </span>
</bsl-menu>
