@use 'breakpoints' as breakpoints;
@use 'mixins';

:host {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--bsa-backgroundColor-primary);
    border: 1px solid var(--bsa-borderColor-primary);
    border-radius: 8px;
    box-shadow: var(--bsa-box-shadow-primary);

    @include mixins.dark-theme {
        box-shadow: none;
    }

    @include breakpoints.md {
        flex-direction: column;
    }
}

button {
    width: 100%;
    font: var(--bsa-font-md);
    font-weight: 700;

    &.offer-save-button {
        flex-basis: min-content;
    }
}
