@import 'variables';

.drawer-content {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    border: $border-base;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .close-button {
        margin-left: auto;
    }
}
