:host {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .375rem .5rem;
    border-radius: 4px;
    font: var(--font-sm);
    color: var(--fgColor-primary);
    cursor: pointer;

    &:hover {
        background-color: var(--dropdown-bgColor-hover);
    }
}
