<bsl-select
    id="language-selection"
    [ariaLabel]="'global.changeLanguage' | translate"
    [(value)]="language"
    (valueChange)="onSelectLanguage()"
    [displayLabel]="'label'"
    [iconMode]="!compactMode()"
    [customIcon]="false"
    [dropdownWidth]="compactMode() ? undefined : '8rem'">
    <bsa-svg-icon name="icon-globe" size="1.25rem" data-custom-icon></bsa-svg-icon>
        @for (option of languageOptions; track option.key) {
            <bsl-list-box-option
                [id]="option.key"
                [value]="option">
                {{option.label}}
            </bsl-list-box-option>
        }
</bsl-select>
