<ngx-bsl-select
    id="language-selection"
    [ariaLabel]="'global.changeLanguage' | translate"
    [(value)]="language"
    (valueChange)="onSelectLanguage()"
    [displayLabel]="'label'"
    [iconMode]="true"
    [customIcon]="true"
    [dropdownWidth]="'8rem'">
    <ngx-bsl-icon-language data-custom-icon></ngx-bsl-icon-language>
        @for (option of languageOptions; track option.key) {
            <ngx-bsl-list-box-option
                [id]="option.key"
                [value]="option">
                {{option.label}}
            </ngx-bsl-list-box-option>
        }
</ngx-bsl-select>
