<h1>{{ 'user.signIn' | translate }}</h1>
<form [formRoot]="signInForm">
    @let email = signInForm.email;
    @let password = signInForm.password;

    <div>
        <label for="sign-in-email">{{ 'user.email' | translate }}</label>
        <input id="sign-in-email" type="text" [formField]="email">

        <div class="validation-error">
            @if (email().invalid() && email().touched()) {
                @for (error of email().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </div>

    <div>
        <label for="sign-in-password">{{ 'user.password' | translate }}</label>
        <input id="sign-in-password" type="password" [formField]="password">
        <div class="validation-error">
            @if (password().invalid() && password().touched()) {
                @for (error of password().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </div>

    <button
        type="submit"
        [disabled]="signInForm().invalid() || signInForm().submitting()"
    >
        <span>{{ 'user.signIn' | translate }}</span>
        @if (signInForm().submitting()) {
            <span class="bsl-control-loader"></span>
        }
    </button>
</form>
