<nav>
    <div class="logo">
        <img ngSrc="assets/logo.svg" alt="logo" routerLink="/" height="30" width="135" priority>
    </div>

    <div class="options">
        @if (compactMode()) {
            <bsa-compact-menu-drawer></bsa-compact-menu-drawer>
        } @else {
            @if (!user()) {
                <bsa-sign-in-select></bsa-sign-in-select>
            }
            <bsa-navbar-theme-switch></bsa-navbar-theme-switch>
            <bsa-navbar-language-switch [compactMode]="false"></bsa-navbar-language-switch>
        }
    </div>
</nav>
