<nav>
    <div class="logo">
        <img ngSrc="assets/logo.svg" alt="logo" routerLink="/" height="30" width="135" priority>
    </div>

    <div class="options">
        @if (compactMode()) {
            <bsa-sidenav></bsa-sidenav>
        } @else {
            @if (user()) {
                <bsa-navbar-user-menu></bsa-navbar-user-menu>
            } @else {
                <bsa-sign-in-select></bsa-sign-in-select>
            }
            <bsa-theme-switch></bsa-theme-switch>
            <bsa-language-switch [compactMode]="false"></bsa-language-switch>
        }
    </div>
</nav>
