nav {
    padding: 4px 0;
    border-bottom: var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        margin-left: 20px;
    }

    .icons {
        margin-right: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
