@if (loading()) {
    @for (skeleton of skeletons(); track skeleton) {
        <bsa-offer-list-skeleton></bsa-offer-list-skeleton>
    }
}
@else if (offers().length) {
    @for (offer of offers(); track offer.id) {
        <bsa-offer-list-item [offer]="offer"></bsa-offer-list-item>
    }
}
@else {
    <p class="no-offers">{{ 'offer.noResultsFound' | translate }}</p>
}

<ngx-bsl-pagination
    [(page)]="page"
    [total]="total()"
    [size]="limit"
    (pageChange)="onPageChange()">
</ngx-bsl-pagination>
