<a>
    @if (offer) {
        <section>
            <div class="logo">
                <div class="logo-img"></div>
            </div>

            <div class="title">
                <h2>{{ offer.title }}</h2>
                @if (offer.newOffer) {
                    <span class="pill pill-blue">{{ 'offer.newOffer' | translate }}</span>
                }
            </div>

            <div class="details">
                <div class="company">
                    <bsa-icon name="company"></bsa-icon>
                    <span>{{ offer.company }}</span>
                </div>

                <div class="location">
                    <bsa-icon name="location"></bsa-icon>
                    <span>{{ offer.location[0] }}</span>
                    @if (offer.location.length > 1) {
                        <span>(+{{offer.location.length - 1}})</span>
                    }
                </div>

                @if (offer.salary) {
                    <div class="salary">
                        {{ offer.salary.min | numberFormatter }}
                        - {{ offer.salary.max | numberFormatter }}
                        {{ offer.salary.currency }}
                    </div>
                }
            </div>

            <div class="tags">
                @for (technology of offer.technologies; track technology) {
                    <span class="chip">{{ technology }}</span>
                }
            </div>
        </section>
    } @else {
        <div class="skeleton-template">
            <div class="skeleton-logo">
                <bsa-skeleton type="square" size="3.5rem"></bsa-skeleton>
            </div>
            <div class="skeleton-title">
                <bsa-skeleton></bsa-skeleton>
                <bsa-skeleton width="40%"></bsa-skeleton>
            </div>
            <div class="skeleton-details">
                <bsa-skeleton width="40%"></bsa-skeleton>
                <bsa-skeleton width="30%"></bsa-skeleton>
                <bsa-skeleton width="50%"></bsa-skeleton>
            </div>
            <div class="skeleton-tags">
                <bsa-skeleton width="70%"></bsa-skeleton>
            </div>
        </div>
    }
</a>


