@import 'breakpoints';
@import 'mixins';
@import 'variables';

a {
    padding: 16px;
    display: flex;
    border: $border-base;
    border-radius: 8px;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background-color: var(--hover-primary);
    }
}

section {
    flex: 1;
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    grid-template-columns: min-content auto 1fr;
    grid-template-areas:
        "logo title title"
        "location location salary"
        "details details details"
        "tags tags tags";
    font: $font-md;

    @include md {
        grid-row-gap: 0;
        grid-template-columns: auto 8fr auto;
        grid-template-areas:
            "logo title salary"
            "logo details location"
            "tags tags tags";
    }
}

.logo {
    grid-area: logo;
    background-color: lavender;
    width: 3.5rem;
    height: 3.5rem;
}

.title {
    grid-area: title;
    align-self: center;

    @include multiline-ellipsis(2, 1.75rem);

    @include md {
        display: block;
        @include ellipsis;
    }
}

.salary {
    grid-area: salary;
    align-self: center;

    @include md {
        justify-self: end;
    }
}

.location {
    grid-area: location;
    align-self: center;
    display: flex;
    gap: 4px;

    @include md {
        justify-self: end;
    }
}

.details {
    grid-area: details;
    align-self: end;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.company {
    display: flex;
    gap: .25rem;
    align-items: center;
    font: $font-sm;
}

.tags {
    grid-area: tags;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @include md {
        margin-top: 12px;
    }
}
