<a>
    <section>
        <div class="logo"></div>
        <h2 class="title"> Senior Java Script Developer (Node.js + REST + Docker) </h2>
        <div class="salary">12 000 - 18 000 PLN</div>
        <div class="location">
            <bsa-icon name="location" size="1.25rem"></bsa-icon>
            <span>Cracow</span>
        </div>
        <div class="details">
            <span class="company">Microsoft</span>
            <span class="pill pill-red">Full-time</span>
            <span class="pill pill-blue">Remote</span>
            <span class="pill pill-green">Remote</span>
            <span class="pill pill-orange">Remote</span>
            <span class="pill pill-purple">Remote</span>
        </div>
        <div class="tags">
            <span class="chip">tag 1</span>
            <span class="chip">tag 2</span>
            <span class="chip">tag 3</span>
            <span class="chip">tag 4</span>
        </div>
    </section>
</a>
