.dropdown-container {
    --container-padding: 4px;
    --container-border-width: 1px;
    --item-height: 32px;

    width: fit-content;
    padding: var( --container-padding);
    border: var(--container-border-width) solid var(--border-primary);
    border-radius: 6px;
    background-color: var(--background-primary);
    list-style-type: none;
    overflow: auto;

    .dropdown-item {
        padding: 6px 8px;
        min-width: 128px;
        height: var(--item-height);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        color: var(--text-primary);
        cursor: pointer;

        &:hover {
            background-color: var(--hover-primary);
        }
    }
}
