@use 'mixins';

:host {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.user-info {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 0 8px;
    align-items: center;
}

.user-avatar {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bsa-accent-backgroundColor);
    color: var(--bsa-accent-textColor-primary);
    font: var(--bsa-font-xl);
    font-weight: 700;
}

.user-name {
    grid-column: 2;
    font: var(--bsa-font-3xl);
    @include mixins.ellipsis;
}

.user-email {
    grid-column: 2;
    @include mixins.ellipsis;
}
