<bsl-combobox
    [formField]="form.phrase"
    [id]="'offers-search'"
    [placeholder]="'offer.searchPlaceholder' | translate"
    [optionValueParse]="optionValueParse"
    (confirmSelection)="onConfirmSelection()">
    @for (category of categories(); track category.category; let last = $last) {
        @let categoryTitle = suggestionCategoryLangMap.get(category.category) || 'offer.keyword';
        <bsl-list-box-group [title]="categoryTitle | translate">
            @for (option of category.options; track option.value) {
                <bsl-list-box-option
                    [id]="'option-' + option.value"
                    [value]="option">
                    {{option.value}}
                </bsl-list-box-option>
            }
        </bsl-list-box-group>
        @if (!last) {
            <bsl-list-box-separator></bsl-list-box-separator>
        }
    }
</bsl-combobox>
