<a>
    <aside></aside>
    <section>
        <div class="title-salary-container">
            <h2 class="title text-ellipsis">{{offer.title}}</h2>
            <span class="salary">{{offer.minSalary}} - {{offer.maxSalary}}</span>
        </div>
        <div class="job-details">
            <span class="icon-company"></span>
            <span class="company-name text-ellipsis">{{offer.companyName}}</span>
            <span class="icon-location"></span>
            <span class="company-location text-ellipsis">{{offer.location}}</span>
        </div>
        <div class="labels">
            @for (label of offer.technologyLabels; track $index) {
                <span class="tech-label text-ellipsis">{{label}}</span>
            }
        </div>
    </section>
</a>
