@import "breakpoints";

a {
    padding: 12px;
    display: flex;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background-color: var(--hover-primary);
    }

    aside {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        padding: 16px;
        background-color: gray;
    }

    section {
        margin-left: 16px;
        flex: 1;
        overflow: hidden;

        .title-salary-container {
            display: flex;
            flex-direction: column;
            font-size: 16px;

            @include md {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .salary {
                margin-top: 8px;
                font-weight: 500;
                color: var(--success);
                white-space: nowrap;

                @include md {
                    margin-top: 0;
                    margin-left: 16px;
                }
            }
        }

        .job-details {
            margin-top: 8px;
            display: flex;
            align-items: center;
            font-size: 16px;

            .icon-company {
                margin-right: 8px;
            }

            .company-name {
                margin-right: 12px;
            }

            .icon-location {
                margin-right: 4px;
            }
        }

        .labels {
            margin-top: 8px;
        }
    }
}
