<button
    #filters
    class="filters-button"
    cdkOverlayOrigin
    (click)="openDrawer()">
    {{ 'global.filters' | translate }}
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="filters"
    [cdkConnectedOverlayOpen]="drawerOpen()"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayDisposeOnNavigation]="true"
    (overlayOutsideClick)="closeDrawer()"
    (detach)="closeDrawer()">
    <ngx-bsl-drawer
        [title]="'global.filters' | translate"
        (closed)="closeDrawer()">
        <div class="filters-form-container">
            <bsa-offers-overview-filters-form></bsa-offers-overview-filters-form>
            <div class="actions">
                <button
                    type="button"
                    (click)="resetFilters()">
                    {{ 'offer.clearAll' | translate }}
                </button>
                <button
                    type="button"
                    (click)="closeDrawer()">
                    {{ 'offer.showOffers' | translate }}
                </button>
            </div>
        </div>
    </ngx-bsl-drawer>
</ng-template>
