<h1>{{ 'user.signUp' | translate }}</h1>
<form [formRoot]="signUpForm">
    @let email = signUpForm.email;
    @let password = signUpForm.password;
    @let firstName = signUpForm.firstName;
    @let lastName = signUpForm.lastName;

    <section>
        <label for="sign-up-email">{{ 'user.email' | translate }}</label>
        <input id="sign-up-email" type="text" [formField]="email" [bslControlLoader]="email().pending()">

        <div class="validation-error">
            @if (email().invalid() && email().touched()) {
                @for (error of email().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </section>

    <section>
        <label for="sign-up-password">{{ 'user.password' | translate }}</label>
        <input id="sign-up-password" type="password" [formField]="password">

        <div class="validation-error">
            @if (password().invalid() && password().touched()) {
                @for (error of password().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </section>

    <section>
        <label for="sign-up-first-name">{{ 'user.firstName' | translate }}</label>
        <input id="sign-up-first-name" type="text" [formField]="firstName">

        <div class="validation-error">
            @if (firstName().invalid() && firstName().touched()) {
                @for (error of firstName().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </section>

    <section>
        <label for="sign-up-last-name">{{ 'user.lastName' | translate }}</label>
        <input id="sign-up-last-name" type="text" [formField]="lastName">

        <div class="validation-error">
            @if (lastName().invalid() && lastName().touched()) {
                @for (error of lastName().errors(); track error.kind) {
                    <span>{{ error.message! | translate }} </span>
                }
            }
        </div>
    </section>

    <button
        type="submit"
        [disabled]="signUpForm().invalid() || signUpForm().pending() || signUpForm().submitting()"
    >
        {{ 'user.signUp' | translate }}
    </button>
</form>
