$markup-size: .75rem;

:host {
    position: absolute;
    width: $markup-size;
    height: $markup-size;
    border-radius: calc($markup-size / 2);
    background-color: var(--color-violet-500);
    cursor: pointer;

    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        pointer-events: none;
    }
}
