@import 'variables';

:host {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .375rem .5rem;
    border-radius: 4px;
    font: $font-sm;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background-color: var(--hover-primary);
    }
}
