@use 'mixins';

:host {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    border: 1px solid var(--bsa-borderColor-primary);
    border-radius: 8px;
    box-shadow: var(--bsa-box-shadow-primary);

    @include mixins.dark-theme {
        box-shadow: none;
    }
}

.offer-description-technologies {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.offer-description-tags-container {
    display: flex;
    gap: 16px;

    .tag {
        font: var(--bsa-font-xl);
    }
}
